@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Secular+One&family=Ubuntu&display=swap');
body{
    background-color: #f2ede9;
}

#logo{
    position:fixed;
    margin-left: 15px;
    background-size: contain;
    background-repeat: no-repeat;
}


nav ul{
    position:fixed;
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 15px;
    margin-left: 43%;
    padding: 10px;
    /* background-color: rgb(102,52,65); */
}
  
nav li {
    display: flexbox;
    float: left;
}
  
nav li a {
    padding: 5px 20px;
    border-radius: 20px;
    color:black;
    text-align: center;
    width: 5%;
    margin-left: 40%;
    margin: 1px 30px;
    text-decoration: none;
}

/* .active {
    background-color: #000000;
  } */

nav li a:hover{
    background-color: #ab9097;
    opacity: 90%;
    padding: 5px 20px;
}

.konten{
    padding-top: 8%;
}

.box{
    /* width: 1700px; */
    max-width: 97%;
    margin:0 auto;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 10px;
    justify-content: space-between;
    background-color: #6a9792;
}

.namacafe{
    color: #fff;
    font-family: 'Secular One', sans-serif;
    font-size: 80px;
    padding-top: 10px;
    padding-left: 30px;
}

.alamat{
    padding-left: 35px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}

.iconalamat{
    color : white;
    padding-right: 30px;
    font-size: 30px;
}

.phone{
    padding-top: 10px;
    padding-left: 37px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}

.iconphone{
    color : white;
    padding-top: 7px;
    padding-right: 30px;
    font-size: 25px;
}

.desc{
    padding-top: 10px;
    padding-left: 37px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}

.icondesc{
    color : white;
    padding-top: 7px;
    padding-right: 30px;
    font-size: 30px;
}

.iconDelUp{
    color: white;
    margin-top: 33%;
    padding-left: 90%;
    justify-content: space-between;
    position: absolute;
    font-size: 30px;

}









